!************************* KEEPALIVE *************************
keepalive ${ip_last_octet}_${env}${order}_ka_${appname}
  description "keepalive for ${ip_last_octet}_${env}${order}_${appname}"
  ip address ${ip}
  port 8080
  type http
  uri "/JsSf3LoWJn8aM3sWQ2LBsx4mM6/index.jsp"
  active
