!*************************** GROUP ***************************
group ${ip_last_octet}_${env}_${appname}
  vip address ${ip}
  ## add destination service 10_www1_example
  ## add destination service 11_www2_example
  ## active
