!*************************** OWNER ***************************
owner ${vip_last_octet}_${env}_${app_name}

  content ${vip_last_octet}_${env}_${app_name}
    vip address ${vip_ip}
    add service ${service_1}
    add service ${service_2}
    add dns ${redirect_url}
    sticky-inact-timeout 480
    port 443
    protocol tcp
    advanced-balance sticky-srcip
    active

  content ${vip_last_octet}_${env}_${app_name}_redir
    vip address ${vip_ip}
    sticky-inact-timeout 480
    port 80
    protocol tcp
    redirect "https://${redirect_url}"
    active
