!************************** SERVICE **************************
service ${ip_last_octet}_${env}${order}_${appname}
  ip address ${ip}
  keepalive type named ${ip_last_octet}_${env}${order}_ka_${appname}
  protocol ${svc_proto}
  active

